/* Variables */

$color-main: #596275;
$color-first: #596275;
$color-title: rgba(0, 0, 0, 0.5);
$text-dark: #000;
$text-light: #fff;
$font-text: 'Open Sans', sans-serif;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
  min-width: 300px;/////
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
  color: $text-dark;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: justify;
}

section {
    padding: 36px 0;
}

.medical_site_1 {
  margin: 64px 0 0 40px;
  height: 100%;
  float: right;
  .profile {
    border: 0;
  }
}

.medical_site_2 {
  display: none;
}

.chapter {
    font-size: 36px;
    margin: 48px 0 12px 0;
    padding-bottom: 12px;
}

.chapter-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 12px 0;
}

/* Navigation */

nav {
  min-width: 300px;//////
  position: fixed;
  margin-bottom: 40px;
  z-index: 1;
  top: 0;
  width: 100%;
  background: #596275;
  padding: 12px 0;
  ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      position: relative;
      display: inline-block;
      justify-content: flex-end;
      margin-right: 36px;
      &:hover ul {
        display: block;
      }
      a {
        text-decoration: none;
        color: #fff;
        &:hover {
          opacity: 50%;
        }
      }
    }
  }
  .phone_number_nav {
    display: flex;
    float: right;
    svg {
      height: 16px;
      color: #fff;
      margin: 5px 15px 0 0;
    }
    .phone_number {
      margin: 0;
      color: #fff;
    }
  }
}


.navigation ul ul {
  position: absolute;
  display: none;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  li {
    display: block;
    margin-bottom: 12px;
    text-align: center;
  }
  a {
    color: #0097e6;
    display: block;
    padding: 0 24px;
    &:hover {
      color: #33d9b2;
    }
  }
}

/* Header */

.road {
  position: relative;
  margin-top: 40px;
  min-height: 400px;
  background-image: url("../images/road.jpg");
  background-size: cover;
  background-position: center;
  color: $text-light;
  .author {
    border-radius: 5px;
    padding: 0 20px 0 20px;
    background-color: $color-title;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .page_title {
      .page_title::after {
        content: 'a';
        bottom: -24px;
        left: 50%;
        width: 100px;
        height: 10px;
        transform: translateX(-50%);
        background: #fff;
      }
    }
    .line {
      border: 1px solid;
      margin: 0 60px 0 60px;
      opacity: 50%;
    }
    .page_subtitle {
      font-size: 20px;
      font-weight: normal;
      color: #e6e6e6;
    }
  }
}

/* Info */

.info {
  //max-height: 600px;
  min-width: 300px;
  color: $text-light;
  background: $color-first;
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .box {
      min-width: 220px;
      position: relative;
      flex: 0 0 33.3333%;
      padding: 0;
      &.adress {
        font-size: 18px;
      }
      .phone_number_box {
        display: flex;
        margin-top: 10px;
        svg {
          height: 24px;
          color: #fff;
          margin: 20px 18px 20px 0;
        }
        .phone_number {
          font-size: 18px;
        }
      }
    }
  }
}

/* Footer */

footer {
  color: $text-light;
  margin: 0;
  border-top: 1px groove;
  border-color: $text-light;
  background: $color-first;
  p {
    margin: 0;
    padding: 20px;
    font-size: 14px;
    text-align: center;
  }
}

/* Media */
@media (max-width: 767px) {

  .doctor_site {
    max-height: 60px;
    display: none;
  }

  .medical_site_1 {
    display: none;
  }

  .medical_site_2 {
    display: contents;
  }

  .activity .o_mnie {
    margin-bottom: 24px;
  }

  .phone_number_nav svg, .phone_number_nav p {
    display: none;
  }

  nav ul li {
    margin-right: 12px;
  }

  .info .container .row {
    display: flex;
    flex-direction: column;
    //align-content: center;
  }

}
